# Skybrush drone show firmware configuration, settings specific to the
# Bolt-based show drone prototype with Lighthouse.

#include <bolt_defconfig>
#include "inc/common.cfg"
#include "inc/marker.cfg"
# CONFIG_MOTORS_ESC_PROTOCOL_STANDARD_PWM=n
# CONFIG_MOTORS_ESC_PROTOCOL_ONESHOT125=y
# CONFIG_MOTORS_DEFAULT_PROP_TEST_PWM_RATIO=10000
CONFIG_MOTORS_ESC_PROTOCOL_DSHOT=y
CONFIG_MOTORS_ESC_PROTOCOL_DSHOT_BIDIRECTIONAL=y
CONFIG_MOTORS_DSHOT_PWM_300KHZ=y
CONFIG_MOTORS_NBR_OF_POLES=14

CONFIG_SHOW_SMOOTH_TAKEOFF=y

# Geometric controller as default
CONFIG_CONTROLLER_GEOM=y
